@charset "utf-8";
html {
    margin: 0 auto;
}

body {
    width: 100%;
    min-width: 1100px;
}
/* header */
header {
    position: relative;
    background: #1667c6;
    height: 76px;
}

h1 img {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 21px;
    width: 90px;
}

.fa-stack {
    margin: 0 auto;
    padding: 0;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 14rem;
    font-size: 1.2rem;
    color: #fff;
    margin: 0 auto;
}

label {
    display: block;
    height: 76px;
    line-height: 76px;
    padding-right: 23px;
    color: #fff;
    cursor: pointer;
}

.menu img {
    position: absolute;
    width: 44px;
    top: 18px;
    right: 18px;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #000;
}

.border {
    position: absolute;
    top: 30px;
    right: 76px;
    height: 12px;
    width: 6px;
    margin: 0;
}

.border-left {
    border-left: 2px solid #fff;
    transform: rotate(-30deg);
}

.border-right {
    border-right: 2px solid #fff;
    transform: rotate(30deg);
}

.menu input {
    display: none;
}

.menu ul {
    position: absolute;
    right: 0;
}

.menu li {
    display: none;
}

#acd-check:checked + label .border-left {
    transform: rotate(30deg);
}

#acd-check:checked + label .border-right {
    transform: rotate(-30deg);
}

#acd-check:checked ~ #links li {
    display: block;
    height: 70px;
    font-size: 24px;
    text-align: center;
    line-height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    background-color: #fff;
}

#links {
    width: 255px;
}

#list-wrapper {
    margin-bottom: 20px;
}

#links a:hover {
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: navy;
}

/* main content */

#row {
    display: flex;
    margin: 0 auto;
}

#container {
    flex: 0 0 80%;
}

#container img {
    height: 44px;
    width: 44px;
}

#container form {
    margin-bottom: 20px;
}

#side-bar {
    width: 255px;
    border-left: 1px solid #727272;
}

#side-bar div {
    margin-top: 60px;
    padding-bottom: 20px;
    font-size: 1rem;
}

#side-bar a {
    color: #fff;
    background-color: #0656cf;
    padding: 10px;
    text-align: center;
}

#confirm {
    margin: 0 auto;
    height: 260px;
}

#confirm a {
    width: 130px;
    float: right;
}

#search-button {
    display: block;
    margin: 50px auto 0;
    width: 10rem;
}

.post-input-wrapper {
    display: flex;
    margin: 20px;
}

.post-input {
    width: 550px;
    height: 90px;
    border: none;
    margin-right: 10px;
}

.form-group {
    display: inline-block;
    margin-left: 10px;
}

.modal {
    display: none;
    z-index: 9999;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-width: 480px;
    background-color: #fff;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    z-index: 9999;
}

.modal.show {
    display: flex;
}

.modal-post {
    width: 100%;
    margin-right: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-submit {
    width: 44px;
    height: 44px;
    align-self: flex-end;
}

.middle-wrapper {
    margin: 60px auto 0;
    font-size: 18px;
    width: 60%;
}

.middle-wrapper input {
    margin-bottom: 30px;
    width: 320px;
    height: 30px;
    float: right;
    font-size: 18px;
    color: #333;
    background-color: #efefef;
    border: 1px solid #a7a7a7;
}

.search td {
    vertical-align: middle;
    padding-bottom: 50px;
}

.wide-wrapper {
    height: auto;
    position: relative;
    margin-left: 10%;
    width: 90%;
    min-height: 90px;
}

.wide-wrapper td:first-child {
    position: absolute;
    top: 10px;
    left: 0;
}

.wide-wrapper td:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 64px;
}

.wide-wrapper td:nth-child(3) {
    position: absolute;
    width: 70%;
    top: 36px;
    left: 64px;
}

.wide-wrapper td:nth-child(4) {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: small;
}

.content {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.drop-area {
    float: right;
    height: 90px;
    width: 320px;
    background-color: #efefef;
    border: 1px solid #a7a7a7;
    text-align: center;
}

.drop-message {
    background-color: #fff;
    margin: 0 auto;
    line-height: 90px;
    padding: 5px 15px;
    font-size: 16px;
    color: #aaa;
}

.dragover {
    background-color: #eee;
}

.userlist {
    display: inline-block;
    margin-right: 10px;
}

button {
    background-color: #fff;
    border: none;
}

.btn {
    width: 100px;
    padding: 4px;
    border-radius: 5px;
    border: none;
}

.update {
    display: block;
    margin: 40px auto 0;
    background-color: #ed3a50;
    color: #fff;
}

.follow {
    background-color: #52abf8;
    color: #fff;
}

.unfollow {
    background-color: #ed3833;
    color: #fff;
}
