@charset "utf-8";
html {
    margin: 0 auto;
}

body {
    width: 100%;
    min-width: 768px;
    height: 100%;
}
/* header */
header {
    position: fixed;
    top: 0;
    background: #1667c6;
    width: 100%;
    z-index: 2;
}

h1 img {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 21px;
    width: 90px;
}

.fa-stack {
    margin: 0 auto;
    padding: 0;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 14rem;
    font-size: 1.2rem;
    margin: 0 auto;
    padding-right: 20px;
}

label {
    display: block;
    height: 76px;
    line-height: 76px;
    color: #fff;
    cursor: pointer;
}

.menu img {
    position: absolute;
    width: 44px;
    top: 18px;
    right: 18px;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #000;
}

.border {
    position: absolute;
    top: 30px;
    right: 76px;
    height: 12px;
    width: 6px;
    margin: 0;
}

.border-left {
    border-left: 2px solid #fff;
    transform: rotate(-30deg);
}

.border-right {
    border-right: 2px solid #fff;
    transform: rotate(30deg);
}

.menu input {
    display: none;
}

.menu ul {
    position: absolute;
    right: 0;
    z-index: 3;
}

.menu li {
    display: none;
}

#acd-check:checked + label .border-left {
    transform: rotate(30deg);
}

#acd-check:checked + label .border-right {
    transform: rotate(-30deg);
}

#acd-check:checked ~ #links li {
    display: block;
    height: 70px;
    font-size: 24px;
    text-align: center;
    line-height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    background-color: #fff;
}

#links {
    width: 255px;
}

#list-wrapper {
    margin-bottom: 20px;
}

#links a:hover {
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: navy;
}

/* main content */

#row {
    display: flex;
    margin: 0 auto;
}

#container {
    width: calc(100% - 255px);
    margin-top: 76px;
}

#container img {
    height: 44px;
    width: 44px;
}

h2 {
    font-size: 24px;
    margin: 30px;
}

#side-bar {
    position: fixed;
    background-color: #fff;
    top: 77px;
    right: 0;
    width: 255px;
    height: 100vh;
}

#side-bar::before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    border-right: 1px solid #727272;
}

#side-bar div {
    padding: 40px 10px;
    font-size: 1rem;
}

#side-bar a {
    color: #fff;
    background-color: #0656cf;
    padding: 10px;
    text-align: center;
}

#confirm {
    margin: 0 auto;
    height: 210px;
}

#confirm a {
    margin: -18px auto 20px;
    width: 130px;
    float: right;
}

#search-button {
    display: block;
    margin: 50px auto 0;
    width: 10rem;
}

.post-input-wrapper {
    display: flex;
    padding-top: 30px;
    font-size: 20px;
    justify-content: center;
}

.userlist td {
    vertical-align: middle;
}

.otherprofile {
    width: 80%;
}

.otherprofile tr {
    display: flex;
    justify-content: space-between;
}

.otherprofile td {
    vertical-align: middle;
}

.otherprofile td:nth-child(1) {
    width: 15%;
}
.otherprofile td:nth-child(2) {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.otherprofile td:nth-child(3) {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.otherprofile td:last-child {
    width: 30%;
}

#bottomline {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-bottom: 10px solid #e0e0e0;
}

.post-input {
    width: 70%;
    height: 90px;
    border: none;
    margin-left: 20px;
    font-size: 18px;
    resize: vertical;
}

#bottomline form {
    justify-content: left;
    align-items: center;
}

#bottomline input[type="text"] {
    margin-left: 100px;
    margin-top: 30px;
    width: 30%;
}

textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.post-input-wrapper .btn {
    transform: translate(20%, 30%);
}

.form-group {
    display: inline-block;
    margin-left: 10px;
}

.modal {
    display: none;
    z-index: 2;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-width: 480px;
    background-color: #fff;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    z-index: 2;
}

.modal.show {
    display: flex;
}

.modal-post {
    width: 100%;
    margin-right: 10px;
}

.form-group {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-submit {
    width: 44px;
    height: 44px;
    align-self: flex-end;
}

.middle-wrapper {
    position: relative;
    margin-top: 60px;
    margin-left: 170px;
    font-size: 18px;
    width: 60%;
}

.middle-wrapper input {
    margin-bottom: 30px;
    width: 320px;
    height: 30px;
    float: right;
    font-size: 18px;
    color: #333;
    background-color: #efefef;
    border: 1px solid #a7a7a7;
}

.avatar-image {
    position: absolute;
    top: 8rem;
    left: 7%;
}

hr {
    margin: 0;
}

.search td {
    vertical-align: middle;
    padding-bottom: 50px;
}

.wide-wrapper {
    height: auto;
    min-height: 90px;
    width: 90%;
    margin-left: 10%;
}

.wide-wrapper td {
    margin-top: 10px;
    padding-top: 10px;
    vertical-align: top;
}

.wide-wrapper td:first-child {
    width: 44px;
}

.wide-wrapper td:nth-child(2) {
    padding-left: 30px;
    width: 70%;
    font-size: 16px;
}

.wide-wrapper td:nth-child(2) div {
    padding-bottom: 10px;
}

.wide-wrapper td:nth-child(3) {
    margin-right: 10px;
    min-width: 140px;
    float: right;
    position: relative;
    top: -10px;
    font-size: small;
}

.content {
    margin-top: 40px;
    float: right;
}

.drop-area {
    float: right;
    height: 90px;
    width: 320px;
    background-color: #efefef;
    border: 1px solid #a7a7a7;
    text-align: center;
}

.drop-message {
    background-color: #fff;
    margin: 0 auto;
    line-height: 90px;
    padding: 5px 15px;
    font-size: 16px;
    color: #aaa;
}

.dragover {
    background-color: #eee;
}

.empty {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

button {
    background-color: #fff;
    border: none;
}

.btn {
    width: 120px;
    padding: 4px 10px;
    border-radius: 5px;
    border: none;
}

.update {
    display: block;
    margin: 40px auto 0;
    background-color: #ed3a50;
    color: #fff;
}

.follow {
    background-color: #52abf8;
    color: #fff;
}

.unfollow {
    background-color: #ed3833;
    color: #fff;
}
